span {
    background-color: rgb(117, 233, 233);
}

a {
    background-color: rgb(37, 243, 174);
}

div {
    background-color: rgb(237, 145, 92);
}

p {
    background-color: rgb(203, 156, 248);
}