#div_1 {
    background-color: aqua;
}

#div_2 {
    background-color: rgb(189, 246, 76);
}

.span {
    color: white;
}

.span1 {
    background-color: black;
}

.span2 {
    background-color: blue;
}